:root{
    --whiteTitle:#fff;
    --silverLightTitle:rgb(177, 177, 177);
    --titleBlack:#666;
    --goldGrad:linear-gradient(to left, #ae8625 , #f7ef8a, #d2ac47);
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
.btn:hover{
    cursor: pointer;
}
/* HEADER  */
.header{
    background: url(./images/hero-cocmpress.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-wrapper{
    display: flex;
    position: relative;

}
.logo-wrapper img{
    width: 100px;
    padding: 20px 0 0 20px;
    height: 80px;
}
.logoTitle{
    color: var(--whiteTitle);
    line-height: 25px;
    margin-top: 45px;
    font-size: 40px;
    
}
.logoTitle span{
    font-size: 20px;
}
.navigation{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.034), rgba(0, 0, 0, 0.603));

}
.nav-bar ul{
    
    position: absolute;
    display: flex;
    top: 30px;
    right: 160px;
}
.nav-bar li{
    padding: 0 30px;
    color: var(--whiteTitle);
    font-size: 20px;
}
.nav-bar li:hover{
    border-bottom: 2px solid white;
    transition: .1s ease-in-out;
}

/* HEADER LOGO ANIMATION  */
.hero-animation{
    background: rgba(0, 0, 0, 0.212);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 25%;
}
.logo-animation img{
    position: absolute;
    width: 600px;
    top: -10px;
    left: 15%;
}
.animation-text{
    color: var(--whiteTitle);
}
.animation-text h1{
    font-size: 70px;
    position: relative;
    top: 140px;
    left: 50%;
    line-height: 10px;
}
.t2{
    font-size: 80px !important;
}

/* HEADER end  */
/* SEARCH  */


.search-wrapper{
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #aaaaaa50;
    width: 90%;
    margin: -100px auto;
    background-image: linear-gradient(to right
    , rgb(49, 49, 49),rgb(66, 66, 66),rgb(77, 77, 77));

    /* background-image: linear-gradient(to right
    , rgb(235, 215, 126),rgb(216, 172, 78),rgb(231, 216, 150)); */
}
.search{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items:end ;
    grid-gap: 20px;
    padding: 30px 0;
}
.search p{
    margin: 0;
    color: white;
}
.search input{
    padding: 10px 40px;
    border-radius: 10px;
}
.search select{
    padding: 10px 40px;
    border-radius: 10px;
}
.btn-search{
    color: white;
   background-image:linear-gradient(to right,#eac688, #eac688,  #b49057);
    padding: 10px 45px;
    border-radius: 10px;
}
/* SEARCH GALLERY  */
.search-gallery{
    margin-top: 150px;
}





/* GALLERY  */
.gallery-title{
    text-align: center;
    color: var(--silverLightTitle);
    font-size: 40px;
    padding: 100px 0 50px 0 ;
    
}
.gallery-title span{
    color: var(--titleBlack);
    border-bottom: 2px solid silver;
}
.gallery{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: space-around;
    grid-gap: 20px;
}
.property-card{
    /* border: 1px solid #aaaaaa50; */
    background-image: linear-gradient(to top, rgb(241, 241, 241),rgb(255, 255, 255),rgb(255, 255, 255));
    line-height: 10px;
}
.property-card img{
    width: 100%;
}
.price-box{
    position: relative;
    top: -25px;
    background-image:linear-gradient(to right,#eac688, #eac688,  #b49057);
    display: inline-block;
    padding: 20px 40px;
    margin: 0;

}
.property-status{
    color: var(--silverLightTitle);
    padding: 0 0 20px 0;    
}
.card-title{
    font-size: 25px;
}
.property-address{
    color: var(--titleBlack);
    padding: 10px 0 20px 0 ;
}

.card-icons{
   
    background-image: linear-gradient(to top, rgb(182, 182, 182),rgb(219, 219, 219),rgb(228, 228, 228));
}
.card-icons ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin:0;

}
.show-more{
    width: 100%;
    text-align: center;
    padding: 60px 0;
}
.show-all-btn{
     color:rgb(65, 65, 65);
     background-image:linear-gradient(to right,#eac688, #eac688,  #b49057);
     display: inline-block;
     padding: 10px 40px;
     border-radius: 10px;
     cursor: pointer;
}
/* ABOUT  */
.about-wrapper{
    background: linear-gradient(to right,#353535, #3d3d3d,  #141414);
    width: 100%;
    height: 100vh;
    
}
.about{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    position: relative;
    top: 20%;
}
.about img{
    width: 90%;
}
.about-text h1{
  background: linear-gradient(to right,#eac688, #eac688,  #5e4a29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 60px;
    margin: 0%;
    font-weight: 900;
}
.about-text p{
    color: #929292;
   
}
/* FOOTER  */
.footer{
    height: 500px;
    background: url(./images/footer.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat( auto-fit , 33%);
    color: white;
    text-align: center;
}
.contact{
    padding-top: 30%;
    line-height: 30px;
}
.contact-title{
    background: linear-gradient(to right,#eac688, #eac688,  #5e4a29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact li{
    color: rgb(196, 196, 196);
}

.our-promises{
    padding-top: 30%;
    line-height: 30px;
}
.our-promises li{
    color: rgb(196, 196, 196);
}
.promises-title{
    background: linear-gradient(to right,#eac688, #eac688,  #5e4a29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.our-social{
    padding-top: 30%;
    line-height: 40px;
}
.social-title{
    background: linear-gradient(to right,#eac688, #eac688,  #5e4a29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.our-social li{
  
    color: rgb(196, 196, 196);
    cursor: pointer;
    
}
.our-social li:hover{
    color:white;
}



